:root {
  --orange: #f54900;
  --blue: #155dfc;
  --purple: #9810fa;
  --pink: #e60076;
  --gray: #4a5565;
  --font: "Inter";
}

body {
  min-height: 100dvh;
  font-family: var(--font);
}

.logo-bar {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  height: 64px;
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  gap: 12px;
  cursor: pointer;
  margin-left: 8px;
}

nav {
  height: 60px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container {
  display: flex;
  gap: 12px;
  margin-left: 12px;
  justify-content: space-around;
  overflow-x: auto;
}

.nav-box {
  width: 100px;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-basis: auto;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  color: var(--gray);
  font-size: 14px;
}
.nav-box:hover {
  background-color: lightgray;
}
